.product-item-container{
    min-width: 250px;
    width: calc(25% - 15px);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.product-thumbnail{
    width: 100%;
}

.block-information{
    min-height: 90px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

.block-information .price{
    color: #c60018;
    font-weight: 600;
    font-size: 16px;
}