.product-item-container{
    min-width: 250px;
    width: calc(25% - 15px);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-item-container img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-thumbnail{
    width: 100%;
}

.product-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.5;
    max-height: calc(1.5em * 2);
    font-weight: 500;
}

.product-item-container:hover .product-name{
    color: #861522;
}

.block-information{
    min-height: 99px;
    height: 99px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f8f8f8;
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

.block-information .price{
    color: #c60018;
    font-weight: 600;
    font-size: 16px;
}